@page{
	size: landscape;
}
body{
	font-family: Verdana, Arial, sans-serif;
}
p,table{
	font-size: 11px;
}
h1{
	font-size: 18px;
}
table{
	width: 100%;
}
.container:first-child,.selection{
	display: none;
}
.value{
	text-align: center;
}
.value-right{
	text-align: right;
}
.final{
	border-top: 2px solid black;
}
.border-bottom{
	border-bottom: 1px solid #666;
	height: 20px;
}